<div class="container-fluid">
    <div style="margin-left: 40px; margin-right: 40px; margin-top: 20px;">
        <div style="display: flex;">
            <div class="col-sm-6" style="padding-left: 4px; padding-right: 4px;">
                <img width="600px" height="100%"  class="card-img-top" src="<%= product.banner %>" alt="Card image">
            </div>
            <div class="col-sm-6" style="padding-left: 4px; padding-right: 4px;">
                <div style="display: flex;">
                    <div class="col-sm-6" style="padding-left: 4px; padding-right: 4px;">
                        <img class="card-img-top" src="<%= product.banner %>" alt="Card image">
                    </div>
                    <div class="col-sm-6" style="padding-left: 4px; padding-right: 4px;">
                        <img class="card-img-top" src="<%= product.banner %>" alt="Card image">
                    </div>

                </div>
                <div style="display: flex; margin-top: 10px;">
                    <div class="col-sm-6" style="padding-left: 4px; padding-right: 4px;">
                        <img class="card-img-top" src="<%= product.banner %>" alt="Card image">
                    </div>
                    <div class="col-sm-6" style="padding-left: 4px; padding-right: 4px;">
                        <img class="card-img-top" src="<%= product.banner %>" alt="Card image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="margin-left: 25px; margin-top: 20px; margin-bottom: 100px;">
        <h1>Hilton Guangzhou Tianhe</h1>
        <p>Khách sạn · 5 Sao (Sang trọng)</p>
        <ul style="display: flex; list-style: none; margin-left: -40px">
            <li><a class="css-a-1" href="">Trải nghiệm tốt nhất</a></li>
            <li><a class="css-a-1" href="">Sân Khách sạn Tốt nhấtt</a></li>
            <li><a class="css-a-1" href="">Bể bơi Tốt nhất</a></li>
            <li><a class="css-a-1" href="">Dịch vụ Chăm sóc Sức khỏe Tốt nhất</a></li>
        </ul>
        <div class="price" style="text-align: right; margin-right: 60px; margin-top: -120px;">
            <span style="font-size: 30px;">₫ 5,031,334</span>
            <span style="opacity: 0.6;">Mỗi đêm</span>
        </div>
        <button id="btn" style="float: right; margin-right: 60px; margin-top: 10px;">
            <span>Kiểm tra trạng thái dịch vụ</span>
        </button>
    </div>
    <div class="row">
        <div class="col-sm-4"  style="margin-left: 20px; margin-top: 20px; margin-bottom: 100px;">
            <div class="rate">
                <div class="score">
                    <span id="score-1">4.2</span>
                    <span style="">/5</span>
                </div>
                <div class="score-ratting" style="padding-top: 10px; margin-left: 10px; position: relative;" >
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="score-text" style="padding-top: 40px; margin-left: -60px;" >
                    <span >Rất tốt</span>
                    <span>790 bình luận</span>
                </div>
                <div class="recomment">
                    <img style="width: 38px; height: 38px;" src="https://res.klook.com/image/upload/Group_909_fyxat1.webp" alt="">
                    <div style="margin-left: 50px; margin-top: -30px;">YONGKI</div>
                </div>
            </div>
        </div>
        <div class="col-sm-4" style=" padding-top: 20px; margin-bottom: 100px; margin-left: -20px;" >
            <div class="center-1" style="display: flex;">
                <span style="margin-right: 8px; margin-left: 10px; margin-top: 20px; "> 
                    <img style="width: 20px; height: 20px;;" src="https://wifi4g2go.com/wp-content/uploads/2018/06/vai-tro-quan-trong-cua-internet-hien-nay-1024x678.jpg" alt="">
                    <span>WIFI</span>
                </span>
                <span style="margin-right: 8px; margin-left: 10px; margin-top: 20px;">
                    <img style="width: 25px; height: 25px;;" src="https://banner2.cleanpng.com/20180614/kvf/kisspng-dumbbell-computer-icons-logo-dumbbell-icon-5b22fdddb39bd4.7551913415290198697357.jpg" alt="">
                    <span>Trung Tâm Thể Hình</span>
                </span>
                <span style="padding-top: 70px; margin-left: -250px;" >
                    <img style="width: 25px; height: 25px;" src="https://banner2.cleanpng.com/20180614/kvf/kisspng-dumbbell-computer-icons-logo-dumbbell-icon-5b22fdddb39bd4.7551913415290198697357.jpg" alt="">
                    <span>Đón và trả khách trạm tàu hoả/xe buýt, sân bay</span>
                </span>
                <span style="padding-top: 110px; margin-left: -325px; text-decoration: underline;">Xem chi tiết</span>
            </div>
        </div>
        <div class="col-sm-4" style=" padding-top: 20px; margin-bottom: 30px; margin-left: -20px;">
            <div class="map" style="display: flex;">
                <div style="margin-right: 8px; margin-left: 30px; margin-top: 20px;" class="street">
                    199 Huang Pu Road
                </div>
                <div><ul><li style="padding-top: 70px; margin-left: -160px;">Đường Tác Phổ (Zhapu), 400m</li></ul></div>
                <div style="padding-top: 110px; margin-left: -220px; text-decoration: underline;" class="map-text">Xem chi tiết</div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <p style="box-sizing: border-box; background-color: rgb(220, 220, 220); border-radius: 10px; width: auto; height: 60px; margin-top: -45px; padding-left: 20px; padding-top: 15px; font-size: 20px;">Khách sạn tuyệt vời cho khách đi một mình. Gần với các khu vực đậu xe và ga xe lửa. Phòng rất tốt và dịch vụ tuyệt vời.</p>
    </div>
    <div class="col-sm-12" style="margin-top: 30px;">
        <p style="box-sizing: border-box; background-color: rgb(255, 71, 25); width: 6px; height:24px; border-radius: 10px; margin-top: 30px;"></p>
        <h2 style="margin-left: 15px; margin-top: -47px;">Chọn phòng của bạn</h2>
        <p style="font-size: 20px; margin-top: 10px;">Khám phá những lựa chọn tuyệt vời nhất. Mức giá hiển thị là mức giá cho mỗi phòng mỗi đêm bao gồm thuế phí</p>
        <div class="box-text" style="display: flex; margin-top: 20px;">
            <p style="box-sizing:border-box; background-color: rgb(232, 235, 235); border-radius: 10px; height: 36px;  width: 200px; padding-left: 40px; padding-top: 6px;">Bữa sáng miễn phí</p>
            <p style="margin-left: 40px; box-sizing:border-box; background-color: rgb(231, 231, 231); border-radius: 10px; height: 36px; width: 300px; padding-left: 40px; padding-top: 6px;">Miễn phí huỷ (Thời gian có hạn)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="margin-top: 20px;">
            <div class="room">
                <img style="border-radius: 10px; width: 320px; height: 150px;" src="https://res.klook.com/klook-hotel/image/upload/fl_lossy.progressive,c_fill,w_375,q_85/s2pix8/hotelImages/271353/-1/41c612f1ae5b00f5f17379b5d2db0942.webp" alt="">
            </div>
            <div class="room-text" style="font-size: 24px; padding-top: 20px; margin-left: 5px;">
                <span>King Hilton, Phòng Deluxe</span>
                <p style="font-size: 16px; opacity: 0.6; margin-top: 10px; margin-left: 2px;">Kích thước phòng:43.0 m²</p>
                <p style="font-size: 16px; opacity: 0.6; margin-top: -13px; margin-left: 2px;">Tầm nhìn hướng thành phố</p>
            </div>
        </div>
        <div class="col-sm-8" style="border: 1px solid #3e3e3e; border-radius: 10px; height: 200px; margin-left: -35px; padding-top: 35px;">
            <div class="booking-text" style="display: flex; margin-top: 20px;">
                <div class="css-booking-text">Không phục vụ bữa sáng</div>
                <div id="css-line">|</div>
                <div class="css-booking-text">1 giường cỡ King</div>
            </div>
            <div class="booking-content">
                <div>Đỗ xe miễn phí</div>
                <div>Không hoàn tiền</div>
            </div>
            <div class="booking-price" style="float: right; margin-top: -80px; font-size: 20px;">
                <div style="margin-right: 10px;">₫ 7,196,078</div>
                <div style="text-align: right; margin-right: 10px;">Mỗi đêm</div>
                <div >
                    <button id="btn-booking">Đặt ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>
   <!-- <div style="margin: 40px;">
        <div class="card-body">
            <img style="width: 200px; height: 200px;" class="card-img-top" src="<%= product.banner %>" alt="Card image">
            <h3 style="font-size: 20px; font-weight: 600;">
                <%= product.title %>
            </h3>
            <div>từ
                <span style="color: #ff5b00; font-weight: 600; font-size: 18px;">
                    <%= product.price %>
                </span>
            </div>
        </div>
    </div> -->