<div class="product-page__container">
    <div style="display: flex;">
        <div class="col-sm-6 content-p-4">
            <img width="600px" height="100%" class="card-img-top" src="<%= product.banner %>" alt="Card image">
        </div>
        <div class="col-sm-6 content-p-4">
            <div style="display: flex;">
                <div class="col-sm-6 content-p-4">
                    <img class="card-img-top" src="<%= product.banner %>" alt="Card image">
                </div>
                <div class="col-sm-6 content-p-4">
                    <img class="card-img-top" src="<%= product.banner %>" alt="Card image">
                </div>

            </div>
            <div style="display: flex; margin-top: 10px;">
                <div class="col-sm-6 content-p-4">
                    <img class="card-img-top" src="<%= product.banner %>" alt="Card image">
                </div>
                <div class="col-sm-6 content-p-4">
                    <img class="card-img-top" src="<%= product.banner %>" alt="Card image">
                </div>
            </div>
        </div>
    </div>
    <div class="row product-title">
        <div class="col-sm-12 col-xl-8">
            <div style="margin-top: 10px;">
                <h4>Hilton Guangzhou Tianhe</h4>
                <div> Khách sạn · 5 Sao (Sang trọng)</div>
                <ul>
                    <li><a href="#">Trải nghiệm tốt nhất</a></li>
                    <li><a href="#">Sân Khách sạn Tốt nhấtt</a></li>
                    <li><a href="#">Bể bơi Tốt nhất</a></li>
                    <li><a href="#">Dịch vụ Chăm sóc Sức khỏe Tốt nhất</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-xl-4">
            <div style="margin-top: 10px;">
                <div class="price">
                    <span style="font-size: 24px;">₫ 5,031,334</span>
                    <span style="opacity: 0.6;">Mỗi đêm</span>
                </div>
                <button type="button" class="btn btn-danger" style="border-radius: 10px;">Kiểm tra trạng thái dịch vụ</button>
            </div>
        </div>
    </div>
    <div class="row info-product">
        <div class="col-sm-12 col-xl-4" style="margin-top: 10px;">
            <div class="info-product__content">
                <div style="display: flex;">
                    <div class="rating-score">
                        <span style="font-size: 30px; color: rgb(255, 174, 0);">4.2</span>
                        <span>/5</span>
                    </div>
                    <div style="display: flex; justify-content: center; padding-top: 14px;">
                        <img src="/svg/star.svg" width="20px" height="20px" />
                        <img src="/svg/star.svg" width="20px" height="20px" />
                        <img src="/svg/star.svg" width="20px" height="20px" />
                        <img src="/svg/star.svg" width="20px" height="20px" />
                        <img src="/svg/star.svg" width="20px" height="20px" />
                    </div>
                </div>
                <div class="score-text">
                    <span>Rất tốt</span>
                    <span>790 bình luận</span>
                </div>
                <span>Xem chi tiết</span>
            </div>
        </div>
        <div class="col-sm-12 col-xl-4" style="margin-top: 10px;">
            <div class="info-product__content">
                <div>
                    <img src="/svg/ic-wifi.svg" width="20px" height="20px" />
                    <span>WIFI</span>
                    <img style="width: 25px; height: 25px;;"
                        src="https://banner2.cleanpng.com/20180614/kvf/kisspng-dumbbell-computer-icons-logo-dumbbell-icon-5b22fdddb39bd4.7551913415290198697357.jpg"
                        alt="">
                    <span>Trung Tâm Thể Hình</span>
                </div>
                <div>
                    <img style="width: 25px; height: 25px;"
                        src="https://banner2.cleanpng.com/20180614/kvf/kisspng-dumbbell-computer-icons-logo-dumbbell-icon-5b22fdddb39bd4.7551913415290198697357.jpg"
                        alt="">
                    <span>Đón và trả khách trạm tàu hoả/xe buýt, sân bay</span>
                </div>
                <span>Xem chi tiết</span>
            </div>
        </div>
        <div class="col-sm-12 col-xl-4" style="margin-top: 10px;">
            <div class="info-product__content">
                <div>199 Huang Pu Road</div>
                <div>Đường Tác Phổ (Zhapu), 400m<</div>
                <div>Xem chi tiết</div>
            </div>
        </div>
    </div>
    <hr style="margin: 20px 0px 20px 0px;">
    <div style="font-size: 24px; font-weight: 500;">Các gói dịch vụ</div>
    <div class="row info-service">
        <div class="col-sm-12 col-xl-8">
            <div class="info-service__contaner">
                <div style="font-size: 26px;">
                    <p>Vui lòng chọn ngày & gói dịch vụ</p>
                </div>
                <div style="font-size: 20px;">
                    <p>Vui lòng chọn ngày đổi voucher dự tính. Ngày bạn chọn khi đặt chỉ
                        mang tính tham khảo Voucher của bạn có hạn sử dụng tới ngày 31/3/2023.
                        Vui lòng liên hệ nhà điều hành để tiến hành đặt phòng
                    </p>
                </div>
                <button type="button" class="btn btn-danger" style="border-radius: 10px;">Xem trạng thái dịch vụ</button>
                <div>
                    <div style="font-size: 20px; margin-top: 20px;">Loại gói dịch vụ</div>
                    <button type="button" class="btn btn-border">Gói 1: Phòng Và Bữa Sáng</button>
                    <button type="button" class="btn btn-border">Gói 2: Phòng, Bữa Sáng Kèm Vui Chơi Tại VinWonders và Safari</button>
                    <button type="button" class="btn btn-border">Gói 3: Phòng, 3 Bữa Ăn Kèm Vui Chơi Tại VinWonders Và Safari</button>
                    <button type="button" class="btn btn-border">Gói 4: Phòng và 3 Bữa Ăn</button>
                </div>
               
                <div style="margin-top: 20px;font-size: 20px;">Số đêm</div>
                <div>
                    <button type="button" class="btn btn-border">1 Đêm</button>
                    <button type="button" class="btn btn-border">2 Đêm</button>
                </div>
                <div style="display: flex; margin-top: 20px;">
                    <p style="font-size: 30px;">₫ 2,900,000</p>
                    <p style="margin-left: 20px; margin-top: 16px; text-decoration: line-through;">₫ 3,550,000</p>
                </div>
                <div>
                    <p>Vui lòng hoàn tất các mục yêu cầu để chuyển đến bước tiếp theo</p>
                    <button type="button" class="btn btn-success" style="border-radius: 10px;">Thêm vào giỏ hàng</button>
                    <button type="button" class="btn btn-danger" style="border-radius: 10px;">Đặt ngay</button>
                </div>
            </div>

        </div>
        <div class="col-sm-12 col-xl-4">
            <div style="background-color: rgb(240, 240, 240); padding: 16px; border-radius: 20px; margin-top: 10px;">
                <div style="font-size: 24px;">Chi tiết gói dịch vụ</div>
                <div>
                    <button type="button" class="btn btn-border">Không hoàn hủy</button>
                    <button type="button" class="btn btn-border">Xác nhận tức thời</button>
                    <button type="button" class="btn btn-border">Đăt ngay hôm nay</button>
                </div>
            </div>
        </div>
    </div>
</div>